<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxs.leon.xxs">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".XXSApplication_">
        <activity
            android:name=".activity.SplashActivity_"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity android:name=".test.SecondActivity_" >
        </activity>
        <activity android:name=".activity.CategoryActivity_" >
        </activity>
        <activity android:name=".activity.CommentActivity_"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".activity.LoginGuidActivity_">
        </activity>
        <activity android:name=".activity.LoginActivity_">
        </activity>
        <activity android:name=".activity.RegisterActivity_">
        </activity>
        <activity android:name=".activity.UserActivity_">
        </activity>
        <activity android:name=".activity.DetailActivity_">
        </activity>
        <activity android:name=".activity.AlbumListActivity_">
        </activity>
        <activity android:name=".activity.WebViewActivity_"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".activity.PayWebViewActivity_"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity android:name=".activity.WatchActivity_"
            android:screenOrientation="landscape"
        android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.WatchActivityBak_"
            android:screenOrientation="landscape"
        android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.PostDetailActivity_">
        </activity>
        <activity android:name=".activity.RechargeActivity_">
        </activity>
        <activity android:name=".activity.ShowWebImageActivity_">
        </activity>
        <activity android:name=".activity.GuideActivity_"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        </activity>
        <activity android:name=".activity.SettingsActivity_">
        </activity>

        <!-- 友盟 -->
        <meta-data android:value="5680e2dbe0f55a49f50002a2" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="xxs" android:name="UMENG_CHANNEL"/>

        <!-- bmob -->
        <meta-data android:value="xxs" android:name="BMOB_CHANNEL"/>
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

    </application>

</manifest>
