<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xxs.leon.xxs">

    <permission android:protectionLevel="normal" android:name="cn.bmob.permission.push"></permission>
    <uses-permission android:name="cn.bmob.permission.push"/><!-- 添加自定义的权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.GET_TASKS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".XXSApplication_">
        <activity
            android:name=".activity.SplashActivity_"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity_"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".test.SecondActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.CategoryActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.CommentActivity_"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.LoginGuidActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.LoginActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.RegisterActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.UserActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.DetailActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.AlbumListActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.WebViewActivity_"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.PayWebViewActivity_"
            android:windowSoftInputMode="adjustResize"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.WatchActivity_"
            android:screenOrientation="landscape"
        android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"></activity>
        <activity android:name=".activity.WatchActivityBak_"
            android:screenOrientation="landscape"
        android:theme="@style/AppTheme.NoActionBar"
            android:exported="false"></activity>
        <activity android:name=".activity.PostDetailActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.RechargeActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.ShowWebImageActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.GuideActivity_"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.SettingsActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.UpdateUsernameActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.UpdateUserSignWordActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.ContractActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".activity.SearchActivity_"
            android:exported="false"
            android:screenOrientation="portrait">
        </activity>

        <!-- 友盟 -->
        <meta-data android:value="5680e2dbe0f55a49f50002a2" android:name="UMENG_APPKEY"></meta-data>
        <meta-data android:value="xxs" android:name="UMENG_CHANNEL"/>

        <!-- bmob -->
        <meta-data android:value="xxs" android:name="BMOB_CHANNEL"/>
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <service
            android:label="PushService"
            android:name="cn.bmob.push.lib.service.PushService"
            android:process="cn.bmob.push"
            android:permission="cn.bmob.permission.push"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.bmob.push.lib.service.PushService"/>
            </intent-filter>
        </service>

        <receiver android:name="cn.bmob.push.PushReceiver" >
            <intent-filter android:priority="2147483647" ><!--优先级加最高-->
                <!-- 系统启动完成后会调用 -->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <!-- 解锁完成后会调用 -->
                <action android:name="android.intent.action.USER_PRESENT" />
                <!-- 监听网络连通性 -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name=".receiver.XXSPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.bmob.push.action.MESSAGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
